<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"  />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/datepicker3.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-table.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styleOwn.css') }}" />
        <script src="{{ asset('js/lumino.glyphs.js') }}"></script>


    </head>
    <body>
      {% block nav   %}
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>GESTOR</span>FCT<p>Gestor de prácticas en empresa</p></a>
            {% block user %}
            <ul class="user-menu">
              <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Usuario <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Perfil</a></li>
                  <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Ajustes</a></li>
                  <li><a href="/users/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Desconectar</a></li>
                </ul>
              </li>
            </ul>
            {% endblock %}
          </div>
        </div><!-- /.container-fluid -->
      </nav>
      {% endblock %}
      {% block contains %}
      {% block aside %}
      <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
          <li role="presentation"><p></p></li>
          <li class="tittle">PRINCIPAL</li>
          <li><a href="/"><svg class="glyph stroked notepad "><use xlink:href="#stroked-notepad"/></svg></svg> Listado de asignaciones</a></li>
          <li><a href="widgets.html"><svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"/></svg> Asignacion</a></li>
          <li role="presentation" class="divider"></li>
          <li class="tittle">MAESTROS</li>
          <li class="parent">
            <a href="#">
              <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked app window with content"><use xlink:href="#stroked-app-window-with-content"/></svg></span> Empresas
            </a>
            <ul class="children collapse" id="sub-item-1">
              <li>
                <a class="" href="../empresas/all">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Listado de empresas
                </a>
              </li>
              <li>
                <a class="" href="../empresas/new">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nueva Empresa
                </a>
              </li>
              <li>
                <a class="" href="#">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nueva Petición
                </a>
              </li>
            </ul>
          </li>
         <li class="parent">
            <a href="#">
              <span data-toggle="collapse" href="#sub-item-2"><svg class="glyph stroked eye"><use xlink:href="#stroked-eye"/></svg></span> Profesores
            </a>
            <ul class="children collapse" id="sub-item-2">
              <li>
                <a class="" href="/profesores/all">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Listado de Profesores
                </a>
              </li>
              <li>
                <a class="" href="/profesores/new">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nuevo Profesor
                </a>
              </li>
              <li>
                <a class="" href="#">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                </a>
              </li>
            </ul>
          </li>
          <li class="parent">
            <a href="#">
              <span data-toggle="collapse" href="#sub-item-3"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg></span> Alumnos
            </a>
            <ul class="children collapse" id="sub-item-3">
              <li>
                <a class="" href="../alumnos/all">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Listado de Alumnos
                </a>
              </li>
              <li>
                <a class="" href="#">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nuevo Alumno
                </a>
              </li>
              <li>
                <a class="" href="#">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                </a>
              </li>
            </ul>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
          <li role="presentation" class="divider"></li>
          <li class="tittle">CONFIGURACIÓN</li>
          <li class="parent">
            <a href="#">
              <span data-toggle="collapse" href="#sub-item-4"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg></span> Configurar
            </a>
            <ul class="children collapse" id="sub-item-4">
              <li>
                <a class="" href="#">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                </a>
              </li>
              <li>
                <a class="" href="#">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                </a>
              </li>
              <li>
                <a class="" href="#">
                  <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
          <li role="presentation" class="divider"></li>
          <li class="tittle">RECURSOS</li>
          <li><a href="panels.html"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg> Recursos</a></li>
          <li role="presentation" class="divider"></li>
        </ul>

      </div><!--/.sidebar-->
      {% endblock %}
      <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">


        {% block body %}{% endblock %}

      </div>	<!--/.main-->
      {% endblock %}
      {% block javascripts %}{% endblock %}
    	<script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
    	<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
      <script src="{{ asset('js/bootstrap-table.js') }}"></script>
    	<script>
    		$('#calendar').datepicker({
    		});

    		!function ($) {
    		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
    		        $(this).find('em:first').toggleClass("glyphicon-minus");
    		    });
    		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    		}(window.jQuery);

    		$(window).on('resize', function () {
    		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    		})
    		$(window).on('resize', function () {
    		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    		})
    	</script>
    </body>
</html>
