{% extends '::base.html.twig' %}


{% block body %}
<main class="table-responsive">
  <table class="table" id="empresas">
    <thead>
      <td>
        ID
      </td>
      <td>
        NOMBRE
      </td>
      <td>
        DIRECCIÓN
      </td>
      <td>
        CP
      </td>
      <td>
        TELÉFONO 1
      </td>
      <td>
        TELEFONO 2
      </td>
      <td>
        FECHA DE CREACIÓN
      </td>
    </thead>
    <tbody>
      {% for empresa in empresas %}
          <tr>
            <td>
              {{ empresa.id }}
            </td>
            <td>
              {{ empresa.nombre }}
            </td>
            <td>
              {{ empresa.direccion }}
            </td>
            <td>
              {{ empresa.cp }}
            </td>
            <td>
              {{ empresa.telefono1 }}
            </td>
            <td>
              {{ empresa.telefono2 }}
            </td>
            <td>
              {{ empresa.fechaCreacion | date ('d/m/Y') }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</main>
{% endblock %}
